@import scala.reflect.io.Directory
@import org.joda.time.DateTime
@(dir:Directory, command:String, ansibleVersion: String , startedAt:DateTime)
@import buildinfo.BuildInfo

@main("Rocannon") {

    <div class="row">
        <table>
            <caption>Rocannon</caption>
            <tr><th>Playbooks directory</th><td>@dir</td></tr>
            <tr><th>Ansible command</th><td>@command</td></tr>
            <tr><th>Ansible version</th><td>@ansibleVersion</td></tr>
            <tr><th>Started at</th><td>@startedAt</td></tr>
        </table>
    </div>

    <div class="row">
        <table>
            <caption>Build info</caption>
            <tr><th>Name</th><td>@BuildInfo.name</td></tr>
            <tr><th>Version</th><td>@BuildInfo.version</td></tr>
            <tr><th>Scala</th><td>@BuildInfo.scalaVersion</td></tr>
            <tr><th>Sbt</th><td>@BuildInfo.sbtVersion</td></tr>
        </table>
    </div>
}
